<html>
<head>
    <title>Django App</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Student Details <span>
        <form  method="POST"
            action="{% url 'add_user' %}"
        >
        {% csrf_token %}
        <button type="submit">Add student detail</button></span>
    
        </form>
    </h1>
<table>
        <ul> 
        {% for p in data %} 
            <li>{{p.common_name}}</li>
        {% endfor %} 
        </ul> 
</table>
</body>
</html>